body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #c0c0c0;
    font-family: serif;
}

.box {
    width: 300px;
    height: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;   
    border-radius: 15px;
    text-align: center;
}

.box input[type="email"], .box input[type="password"] {
    width: 200px;
    border: 0;
    border-bottom: 2px solid silver;
    background: none;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    outline: none;
    font-weight: 600;
    transition: 0.25s;
}

h1 {
    text-align: center;
    font-weight: 500;
}

input:focus {
    outline: none;
}


input[type="email"]:focus::placeholder, input[type="password"]:focus::placeholder {
    transition: 0.3s;
    opacity: 0;
}

.box input[type="email"]:focus, .box input[type="password"]:focus {
    width: 300px;
    transition: 0.50s;
}

.box input[type = "submit"] {
    margin-top: 40px;
    font-size: 14px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    font-weight: 600;
    transition: 0.5s;
    background-size: 200% auto;
    color: #FFF;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
    background-image: linear-gradient(to right, #00ccff 0%, #c53ce0 50%, #00ccff 100%)
}

.box input[type = "submit"]:hover { 
    background-position: right center;
}

p {
    font-size: 12px;
    font-weight: 600;
    margin-top: 60px;
    color: rgb(93, 93, 94);
}

a {
    color: initial;
    text-decoration: none;
}